/* 2023/05/25 update */

:root {
	--bg-colour: #d3d3d3;
	--title-colour: #000000;
	--articleTitle-bg-colour: linear-gradient(90deg,#403c62, 70%, #582f2f);
	--glass-colour: #ffffff;
	--line-colour: #3d3d3d;
	--links-colour: #33acb2;
	--line-lightblue: #8abfcc90;
	--line-pink: #c685b890;
	--quote-colour: #c6c7b5;
}

body{
	margin-top: 0;
	margin-left: 0;
	background-color: var(--bg-colour);
	transition: background-color 1.5s ease;
}
a{
	text-decoration: none;
}
#header {
	position: fixed;
	top: 0;
	right: 10px;
	z-index: 10;
	width: 90px;
	height: 100%;
	user-select: none;
	transition: height 1.5s ease;

}
#header::before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	border-left: 1px solid var(--line-colour);
	border-right: 1px solid var(--line-colour);
	transition: border-left 1.5s ease, border-right 1.5s ease;
}
#title-wrapper{
	display: flex;
	position: relative;
	height: 247px;
	width: 80%;
	margin: 55px auto 0;
}
#subtitle{
	position: absolute;
	width: 15px;
	height: 100%;
	color: var(--title-colour);
	font-size: 7px;
	font-family: 'Castoro Titling', cursive;
	letter-spacing: 10px;
	writing-mode: vertical-rl;
	transition: color 1.5s ease;
}
#maintitle{
	display: flex;
	transform: scaleX(0.9);
	position: absolute;
	left: 17px;
	height: 100%;
	border-bottom: 1px solid var(--title-colour);
	color: var(--title-colour);
	font-family: "Shippori Mincho", san-serif;
	font-weight: 800;
	font-size: 29px;
	letter-spacing: 16px;
	text-shadow:  0 0 12px #ffffffda, 0 0 15px #ffffff9a, 0 0 25px #ffffff5a;
	writing-mode: vertical-rl;
	transition: border-bottom 1.5s ease; color 1.5s ease;
}
#indexList{
	display: inline-block;
	position: relative;
	top: 0;
	width: 100%;
	margin-top: 40px;
	font-size: 16px;
	font-family: 'Castoro Titling', cursive;
	text-align: center;
}
#indexList a{
	display: inline-block;
	opacity: 1;
	position: relative;
	width: 70px;
	margin: 20px 0 0;
	border-bottom: 1px solid var(--title-colour);
	color: var(--title-colour);
	font-weight: 400;
	pointer-events: auto;
	transition: opacity 1.5s ease;
}
#indexList a:hover{
	letter-spacing: 3px;
	font-weight: 800;
}
#toggleButton {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 20px;
	left: 20px;
	bottom: 13px;
    border: 2px solid var(--title-colour);
	border-radius: 10px;
    box-sizing: content-box;
    cursor: pointer;
	transition: border 1.5s ease;
}
#toggleButton:has(:checked) {
    border-color: var(--title-colour);
	transition: background-color 1.5s ease;
}
#toggleButton::after {
    content: '';
	position: absolute;
    transform: translateY(-50%);
	top: 50%;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--title-colour);
    transition: left .4s;
	transition: background-color 1.5s ease;
}
#toggleButton:has(:checked)::after {
    left: 30px;
    background-color: var(--title-colour);
	transition: background-color 1.5s ease;
}
#toggleButton input {
    display: none;
}
#content-wrapper{
	display: block;
	width: calc(100% - 100px);
}
#bg-title{
	position: fixed;
	opacity: 1;
	width: 100%;
	height: 360px;
	top: -50px;
	left: -60px;
	color: var(--title-colour);
	font-size: 180px;
	line-height: 180px;
	font-family: 'Castoro Titling', cursive;
	overflow: hidden;
	white-space: nowrap;
	transition: opacity 1.5s ease, color 1.5s ease, line-height 1.5s ease;
}
#article-title-container{
	display: block;
	position: relative;
	width: 90%;
	height: fit-content;
	min-height: 250px;
	left: 10px;
	margin: 10px auto;
	border: 2px solid #ffffff;
	backdrop-filter: blur(4px);
}
#article-title-container-bg{
	position: absolute;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	background-color: var(--glass-colour);
	transition: background-color 1.5s ease;
}
#article-title{
	position: relative;
	width: 80%;
	margin-top: 20px;
	margin-left: 30px;
	padding: 5px 0;
	font-size: 25px;
	font-family: "Kiwi Maru", san-serif;
	border-top: 1px solid var(--title-colour);
	border-bottom: 1px solid var(--title-colour);
	transition: border-top 1.5s ease, border-bottom 1.5s ease;
}
#post-date{
	position: relative;
	opacity: 1;
	margin-left: 40px;
	font-size: 13px;
	font-weight: 300;
	font-family: "Kiwi Maru", san-serif;
	transition: opacity 1.5s ease;
}
#last-update-date{
	position: relative;
	opacity: 1;
	margin-left: 13px;
	font-size: 13px;
	font-weight: 300;
	font-family: "Kiwi Maru", san-serif;
	transition: opacity 1.5s ease;
}
#outline{
	position: relative;
	opacity: 1;
	margin: 0 30px;
	padding-top: 16px;
	padding-bottom: 10px;
	color: #000000;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	font-family: "Kiwi Maru", san-serif;
	overflow: hidden;
	transition: opacity 1.5s ease;
}
#article-wrapper{
	display: block;
	position: absolute;
	top: 0;
	margin-left: 20px;
	padding-top: 240px;
	border-left: 2px solid var(--line-colour);
	transition: border-left 1.5s ease;
}
.main-content{
	display: block;
	position: relative;
	left: -2px;
	width: 95%;
	padding-left: 15px;
	color: var(--title-colour);
	font-weight: 200;
	font-size: 14px;
	line-height: 34px;
	font-family: "source-han-serif-japanese", serif;
	letter-spacing: 2.5px;
	transition: color 1.5s ease;
}
.main-content::before{
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	width: calc(7% + 11px);
	height: 100%;
	border-top: 2px solid var(--line-colour);
	border-left: 2px solid var(--line-colour);
	border-top-left-radius: 32px;
	transition: border-top 1.5s ease, border-left 1.5s ease;
}
.main-content a{
	position: relative;
	color: var(--links-colour);
	transition: color 1.5s ease;
}
.heading-ja{
	display: inline-block;
	position: relative;
	top: -29.5px;
	left: 7%;
	width: 95%;
	padding: 10px 20px 10px 30px;
	color: var(--title-colour);
	font-weight: 700;
	font-size: 25px;
	font-family: "source-han-serif-japanese", serif;
	letter-spacing: 2.5px;
	transition: color 1.5s ease;
}
.heading-ja:before {
	display: inline-block;
	content: "◎";
  	position: absolute;
	left: -10px;
	font-size: 37px;
	letter-spacing: -40px;
	color: var(--line-colour);
	transition: color 1.5s ease;
}
.heading-en{
	position: relative;
	width: fit-content;
	margin-top: -45px;
	margin-left: 70px;
	padding-right: 20px;
	border-right: 1px solid var(--line-colour);
	color: #737373;
	font-size: 13px;
	font-family: 'Comfortaa', cursive;
	letter-spacing: 0.5px;
	transition: border-right 1.5s ease;
}
.heading-en:before{
	content: "";
	display: inline-block;
	position: absolute;
	width: 90px;
	height: 2px;
	top: 15.5px;
	left: -100px;
	border-bottom:2px dashed var(--line-colour);
	color: #d3d3d3;
	transition: border-bottom 1.5s ease;
}
.sub-heading{
	position: relative;
	width: fit-content;
	margin: 25px 0 27px 50px;
	padding: 0 10px;
	border: 2px dotted var(--line-colour);
	border-radius: 23px;
	color: var(--fontColourSmallindex);
	font-size: 18px;
	font-weight: 300;
	font-family: 'Kiwi Maru', san-serif;
	letter-spacing: 1.5px;
	transition: border 1.5s ease, color 0s ease;
	}
.sub-heading::before{
	display: inline-block;
	content: "";
	position: absolute;
	width: 63px;
	height: 2px;
	top: 16px;
	left: -65.5px;
	border-bottom: 1px solid var(--line-colour);
	transition: border-bottom 1.5s ease;
}
.sub-heading::after{
	content: "○";
	position: absolute;
	width: 40px;
	height: 2px;
	top: 0;
	left: -78px;
	color: var(--line-colour);
	font-size: 25px;
	transition: color 1.5s ease;
}
.line-marker-pink{
	position: relative;
	white-space: nowrap;
}
.line-marker-pink::before{
	content: "";
	position: absolute;
	top: 12px;
	right: 0;
	bottom: 0;
	left: 0;
	border-bottom: 7px solid var(--line-pink);
	transition: border-bottom 1.5s ease;
}
.line-marker-lightblue{
	position: relative;
	white-space: nowrap;
}
.line-marker-lightblue::before{
	content: "";
	position: absolute;
	top: 12px;
	right: 0;
	bottom: 0;
	left: 0;
	border-bottom: 7px solid var(--line-lightblue);
	transition: border-bottom 1.5s ease;
}
.articleBoxQuote{
	
	padding: 24px 18px 22px 12px;
	margin-left: -10px;
}
.quote-box{
	display: inline-block;
	position: relative;
	margin: 54px 30px 24px;
	padding: 14px 31px 12px 41px;
}
.quote-box::before{
	content: "";
	position: absolute;
	width: 27px;
	height: 160%;
	top: calc(-30%);
	left: -60px;
	border-top: 2px solid var(--line-colour);
	border-bottom: 2px solid var(--line-colour);
	border-left: 2px solid var(--line-colour);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: var(--bg-colour);
	transition: border-top 1.5s ease, border-bottom 1.5s ease, border-left 1.5s ease, background-color 1.5s ease;
}
.quote-box::after{
	content:"";
	position: absolute;
	width: 8px;
	height: calc(100% + 10px);
	top: 50%;
	left: 20px;
	transform: translate(-50%, -50%);
	border-right: 2px solid var(--line-colour);
	border-left: 2px solid var(--line-colour);
	transition: border-right 1.5s ease, border-left 1.5s ease;
}
.article-box{
	margin: 24px 0 34px 10px;
	padding: 14px 14px 24px 28px;
	position: relative;
}
.article-box::before{
	content: "";
	display: inline-block;
	position: absolute;
	width: 21px;
	height: 100%;
	top: 0;
	left: -36px;
	border: 2px solid var(--line-colour);
	border-radius: 21px;
	background-color: var(--bg-colour);
	transition: background-color 1.5s ease, border 1.5s ease;
}
.border-box{
	position: relative;
	width: fit-content;
	margin: 68px 0 48px 41px;
	padding: 4px 20px;
	border: 2px dashed var(--line-colour);
	border-radius: 5px;
	transition: border 1.5s ease;
}
.border-box::before{
	content: "";
	position: absolute;
	top: -40%;
	left: -50px;
	width: 1px;
	height: 180%;
	border-left: 2px solid var(--line-colour);
	transition: border-left 1.5s ease;
}
.border-box::after{
	content:"";
	position: absolute;
	top: 20px;
	left: -72px;
	width: 70px;
	height: 1px;
	border-bottom: 2px dashed var(--line-colour);
	transition: border-bottom 1.5s ease;
}
.article-h1{
	position: relative;
	z-index: 10;
	width: fit-content;
	margin-top: 40px;
	margin-left: 20px;
	border-top: 2px dashed var(--line-colour);
	border-bottom: 2px dashed var(--line-colour);
	font-size: 16px;
	transition: border-top 1.5s ease, border-bottom 1.5s ease;
}
.article-h1::before{
	content:"";
	position: absolute;
	width: 30px;
	height: 60px;
	top: 100%;
	left: -34px;
	border-right: 2px dashed var(--line-colour);
	border-bottom: 2px dashed var(--line-colour);
	transition: border-right 1.5s ease, border-bottom 1.5s ease;
}
#end-tag{
	margin-top: 25px;
	margin-bottom: 35px;
	color: var(--title-colour);
	font-size: 30px;
	font-family: "Gruppo", cursive;
	text-align: center;
	transition: color 1.5s ease;
}
.text-align{
	text-align: center;
}