table{
  width: 100%;
  background-color: #2e2;
}
th{
  background-color: #ffe5e5;
}
td{
  display: block;
}
th,td{
  padding: 0.6rem 0.8rem;
}
tr{
  position: relative;
}
tr::before {
  position: absolute;
  top: -3px;
  left: 0;
  width: calc(100% - 3.6rem);
  height: 1px;
  border-top: 3px solid #ff50ffcc;
  content: "";
}
tbody{
  position: relative;
}
tbody::after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: calc(100% - 3.6rem);
  border: 3px solid #003dc2cc;
  content: "";
}